<ion-content class="row1">
    <ion-grid class="grid1">
      <ion-row class="row1">
          <ion-col size="12" sizeSm="6">   
            <div class="Display-flex row" >
            
                <img class="img-a " src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg" alt="">
            </div>
          </ion-col>
  
          <ion-col size="12" sizeSm="6">
            <div class="container">
              <h1>Not Found 404</h1>
              <p>La pagina que buscas no esta disponible</p>
              <a class="volver" href="/login">
                VOLVER AL LOGIN
              </a>
            </div>
            
          </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>
