<ion-content class="row1">
  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col size="12" sizeSm="6">   
          <div class="Display-flex row" >
          
              <img class="img-a " src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg" alt="">
          </div>
        </ion-col>

        <ion-col size="12" sizeSm="6">
          <div class="container-home">
            <p class="title">RegistrApp</p>
            <h1>Hola, {{ user }}</h1>
            <h2>¿Que deseas?</h2>

            
            <div class="buttons">
              <a href="/qr">
            <div class="qr">
              <img class="img-buttons" src="../../../assets/qr.png" alt="">
              <h2>QR</h2>
            </div>
          </a>
            
            <a href="/login">
            <div class="logout">
              <img class="img-buttons" src="../../../assets/logout.png" alt="">
              <h2>Salir</h2>
            </div>
          </a>
          </div>

          </div>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>