.grid1 {
  height: 100%;
  padding: 0px;
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
}
h2 {
  text-align: center;
  color: #000000;
  font-weight: bolder;
  font-size: 16px;
}


.container-home {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px 10px;
  background: rgba(255,255,255,0.90);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}



.row1 {
  height: 100%;
  background-image: url("../../../assets/duoc.jpg");
  background-position: -200px 0;
}
.row2 {
  height: 0%;
}

ion-icon {
  margin-right: 15px;
}

ion-button {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

ion-slide {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0px !important;
}


ion-item {
  margin-bottom: 10px;
  
  
}

input {
  background-color: #FFFFFF !important;
}

.img-a {
  flex-direction: column;
  position: absolute;
  float: left;
  top: 65px;
  left: 12%;
  width: 80%;
}

.title{
  font-size: 14;
  text-align: center;
  color:rgba(0, 0, 0, 0.75);
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-buttons{
  border-radius: 5px;
  width: 80px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  transition: 300ms;
}

.img-buttons:hover{
  width: 85px;
  transition: 300ms;
}

.qr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 85px;
  min-height: 90px;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 85px;
  min-height: 90px;
}